@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas Neue/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/Bebas Neue/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Bebas Neue Cyrillic Local";
    src: url('../fonts/Bebas Neue/BebasNeue.woff2') format('woff2'),
         url('../fonts/Bebas Neue/BebasNeue.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}